@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.click {
  transition: all 300ms ease;
  cursor: pointer;
}
.click:hover {
  transform: scale(1.1);
}
.click:active {
  transform: scale(0.8);
}

.section {
  background-color: rgb(245, 245, 245);
  transition: all 600ms ease;
}

.link__hover--effect {
  position: relative;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.link__hover--effect:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover--effect--white:after {
  background-color: white;
}
.link__hover--effect--black:after {
  background-color: black;
}
.link__hover--effect--orange:after {
  background-color: orangered;
}
.link__hover--effect:hover:after {
  left: 0;
  width: 100%;
}

/* --- NAVIGATION --- */

.navigation {
  min-height: 100px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

#personal-logo {
  filter: invert(0);
  width: 70px;
}

#footer-logo {
  filter: invert(1);
  width: 50px;
}

#moon {
  font-size: 25px;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0 12px;
}

.nav__link--anchor {
  color: black;
  font-size: 16px;
}

/* --- LANDING PAGE --- */

#landing-page {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1000px;
}

.header-content {
  position: relative;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 450px;
}

.title {
  font-size: 80px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
  font-weight: 400;
}

.orange {
  color: orangered;
}

.social__list {
  margin-top: 16px;
  display: flex;
}

.social__link {
  background-color: orangered;
  color: white;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mail__btn {
  background: black;
  color: white;
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;

  bottom: 32px;
  right: 40px;
  z-index: 100;
  position: fixed;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.3);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid black;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: black;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}

/* --- ABOUT ME --- */

/* --- MODAL --- */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.5);
  visibility: visible;
}

.modal__half {
  position: relative;
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 300ms ease-in;
}

.modal__about {
  background-color: white;
  transform: translateX(-110%);
}

.modal__contact {
  background-color: black;
  transform: translateX(-110%);
}

/* --- LANDING PAGE --- */

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}
