@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

section {
  background-color: rgb(245, 245, 245);
  transition: all 800ms ease;
}

.click {
  transition: all 300ms ease;
  cursor: pointer;
}
.click:hover {
  transform: scale(1.2);
}
.click:active {
  transform: scale(0.7);
}

.link__hover--effect {
  position: relative;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.link__hover--effect:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover--effect--white:after {
  background-color: white;
}
.link__hover--effect--black:after {
  background-color: black;
}
.link__hover--effect--orange:after {
  background-color: orangered;
}
.link__hover--effect:hover:after {
  left: 0;
  width: 100%;
}

/* --- DARK THEME --- */

.dark--theme .title,
.dark--theme .section__title,
.dark--theme .header__para,
.dark--theme .nav__link--anchor {
  color: white;
}

.dark--theme section {
  background-color: #111111;
}

.dark--theme #personal-logo {
filter: invert(1);
}

.dark--theme .mail__btn {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 40%);
}

.dark--theme .scroll__icon {
  border-color: white;
}

.dark--theme .scroll__icon:after,
.dark--theme .link__hover--effect--black:after {
  background-color: white;
}

.dark--theme .project__indicator {
  border: 2px solid white;
}

.dark--theme .filled {
  background-color: #fff;
  opacity: 1;
}

.dark--theme .project__description--wrapper h1,
.dark--theme .project__description--wrapper h2,
.dark--theme .project__description--wrapper p {
  color: #fff;
}

.dark--theme footer {
  background-color: #fff;
}

.dark--theme #footer-logo {
  filter: invert(0);
}

.dark--theme .footer__links i,
.dark--theme .footer__copyright {
  color: #242424;
}

/* --- NAVIGATION --- */

.navigation {
  min-height: 100px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

#personal-logo {
  filter: invert(0);
  width: 70px;
}

#moon {
  font-size: 25px;
}

.nav__list {
  display: flex;
  align-items: center;
  margin: 0 12px;
}

.nav__link--anchor {
  color: black;
  font-size: 16px;
  font-weight: 700;
}

/* --- LANDING PAGE --- */

#landing-page {
  min-height: 100vh;
}

.navigation,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 300ms 500ms;
}

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1000px;
}

.header-content {
  position: relative;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 450px;
  font-weight: 400;
}

.title {
  font-size: 80px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.orange {
  color: orangered;
}

.social__list {
  margin-top: 16px;
  display: flex;
}

.social__link {
  background-color: orangered;
  color: white;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mail__btn {
  background: black;
  color: white;
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;

  bottom: 32px;
  right: 40px;
  z-index: 100;
  position: fixed;
  box-shadow: 0px 0px 10px 4px rgb(255 255 255 / 40%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid black;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: black;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}

/* --- ABOUT ME & CONTACT --- */

.modal1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open1 .modal1,
.modal--open2 .modal2 {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.5);
  visibility: visible;
}

.modal--open1 nav, .modal--open1 .scroll, .modal--open1 .header,
.modal--open2 nav, .modal--open2 .scroll, .modal--open2 .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

.modal__half {
  position: relative;
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 300ms ease-in;
}

.modal__contact {
  position: relative;
  width: 100%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 300ms ease-in;
}

.modal--open1 .modal__about--left,
.modal--open1 .modal__about--right,
.modal--open2 .modal__contact {
  transform: translateX(0%);
}

.modal__about--left {
  background-color: white;
  transform: translateX(-110%);
}

.modal__about--right {
  background-color: black;
  color: white;
  transform: translateX(110%);
}

.modal__contact {
  background-color: white;
  color: black;
  transform: translateY(-110%);
}

.me__image {
  position: relative;
  justify-content: center;
}

.me__image--img {
  width: auto;
  max-width: 55%;
  padding: 16px;
  position: relative;
  display: flex;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  font-size: 14px;
  margin: 12px 0 24px 0;
}

.about__para {
  margin-bottom: 12px;
  line-height: 1.75;
  font-weight: 350;
}

.modal__languages {
  display: flex;
  flex-wrap: wrap;
}

.tech__image {
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: center;
}

.tech__image:hover .tech__name {
  transform: scale(1);
}

.tech__image:hover {
  transform: scale(0.85);
  filter: brightness(80%);
}

.tech__name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease;
}

.tech__image--img {
  width: 100%;
}

.volleyball__image {
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: center;
}

.volleyball__image--img {
  width: auto;
  max-width: 75%;
  padding: 16px;
  position: relative;
  display: flex;
  border-radius: 30%;
  margin-left: auto;
  margin-right: auto;
}

.volleyball__image:hover .volleyball__name {
  transform: scale(1);
}

.volleyball__image--img:hover {
  transform: scale(0.95);
  filter: brightness(90%);
}

.volleyball__name {
  position: absolute;
  text-align: center;
  font-weight: 500;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease;
}

.volleyball__position {
  text-align: center;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  background-color: white;
  color: black;
  outline: none;
  border: 1px solid;
  border-left: none;
  border-right: none;
  border-top: none;
  transition: all 300ms ease;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: white;
  border-color: gray;
  color: black;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  padding: 12px 14px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border: orangered;
  background-color: orangered;
  color: white;
  transition: all 300ms 200ms ease;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: black;
  font-size: 80px;
}

.modal__overlay--success {
  background-color: forestgreen;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.modal__exit--white {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
}

.modal__exit--black {
  position: absolute;
  top: 30px;
  right: 40px;
  color: black;
  font-size: 36px;
  z-index: 100;
}

.fa-spinner {
  animation: spinner 1000ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* --- PROJECTS --- */

.project__slider {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.project__img--wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 24px;
  display: flex;
  position: relative;
  order: 1;
  overflow: hidden;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 55%);
}

.project__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  transform: translateY(100%);
  transition: all 400ms ease-in-out;
}

.project__img--wrapper:hover #previous {
  opacity: 0;
}

.project__img--wrapper:hover .project__background {
  transform: translateY(0);
}

#placeholder {
  width: 100%;
  opacity: 0;
}

.project__img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s ease-in-out;
}

.project__description {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.project__description {
  z-index: 3;
  color: black;
  opacity: 1;
  text-align: left;
}

.project__link {
  font-size: 64px;
  color: #fff;
  margin: 0 32px;
  text-decoration: none;
}

#previous, #next {
  border: none;
  background-color: transparent;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 16px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  transition: all 300ms ease;
  opacity: 0.5;
}

#previous:hover, #next:hover {
  opacity: 1;
}

#previous i, #next i {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 48px;
  color: #fff;
  background-color: #242424;
  box-shadow:rgb(0 0 0 / 40%);
}

#next {
  order: 2;
}

#next img {
  transform: scaleX(-1);
}

#projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__indicators {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.project__indicator {
  height: 24px;
  width: 24px;
  margin: 0 20px;
  border: 2px solid #242424;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 300ms ease;
}

.filled {
  background-color: #242424;
  opacity: 1;
}

.project__description--wrapper {
  width: 100%;
  max-width: 890px;
  margin: 0 100px;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.project__title {
  font-size: 48px;
  margin-bottom: 24px;
}
.project__language {
  font-size: 24px;
  margin-bottom: 16px;
}
.project__description {
  font-size: 18px;
  max-width: 700px;
}

.p1 .project-2, .p1 .project-3,
.p2 .project-1, .p2 .project-3,
.p3 .project-2, .p3 .project-1 {
  display: none;
}

.project__links a {
  text-decoration: none;
}

.project__link {
  font-size: 64px;
  color: #fff;
  margin: 0 32px;
  text-decoration: none;
}

/* FOOTER */

footer {
  position: relative;
  min-height: 200px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .row-2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.footer__logo--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-logo {
  filter: invert(1);
  width: 94px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  margin: 32px auto;
  width: 100%;
  max-width: 150px;
}

.footer__links i {
  color: #fff;
  font-size: 32px;
}

.footer__copyright {
  text-align: center;
  color: #fff;
}

/* DIFFERENT SCREENS */
@media (max-width: 760px) {
  
}

@media (max-width: 560px) {
  
}

@media (max-width: 480px) {
    .title {
      font-size: 36px;
    }
    .header__para {
      font-size: 18px;
    }
    .mail__btn {
      font-size: 24px;
      height: 56px;
      width: 56px;
      margin-bottom: 30px;
    }
    .scroll__icon {
      margin-bottom: 30px;
    }
    .click:hover {
      transform: scale(1);
    }
    .social__link {
      margin-right: 24px;
      height: 38px;
      width: 38px;
      font-size: 16px;
    }
    .nav__list:nth-child(2) {
        display: none;
    }
}

@media (max-width: 360px) {
  
}